@import './variables';
@import '../components/home/home';
@import '../components/movie/movie';
@import '../components/trailer/trailer';


body {
    margin: 0;
    background-color: $backgrond-color;
    min-width: 800px;
    min-height: 600px;
}

* {
    font-family: "Proxima Nova";
}