.title {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    &__button {
        background-color: #0F1014;
        color: white;
        outline: none;
        border: 1px solid white;
        padding: 10px 15px;
        cursor: pointer;
        margin-bottom: 10px;
    }

}

.container {
    display: flex;
    margin-top: 2px;
    flex-wrap: wrap;
    gap: 200px 50px;
    align-items: center;
    justify-content: center;
}