.movie {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;

    &__detail {
        display: flex;
        flex-direction: column;
        
        :hover {
            cursor: pointer;
            box-shadow: 0 0 10px black;
        }
    }
}